body {
  display:flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  height:100%;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width:1500px;
}
.card{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-wrap: 1;
  height: 9rem;
  width: 25rem;
  margin-top: 0.7rem;
}
.image{
  display:flex;
  justify-content: center;
  align-items: center;
  width:100px;
  height:100px;
  border-radius: 50%;
  border:2px solid 	#D3D3D3;
}
.text{
  width:60%;
  margin-left: 2rem;
  margin-bottom: 1.25rem;
}
.text h1{
  font-size: 20px;
}
.container-second{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width:1600px;
}
.container-card{
  display: flex;
  flex-wrap:1;
  margin: 2rem;
}
.card-content{
  display:flex;
  border: 2px solid 	#D3D3D3;
  flex-direction: column;
  border-radius: 0.75rem;
  width:23rem;
  height:25rem;
 padding-left: 1.5rem; 
  /* padding-right: 1.5rem;   */
}
.card-upper{
  display:flex;
  flex-direction:row;
  align-items: center;
  width:100%;
}
.card-upper img{
  margin-left: 5rem;
  margin-right: 1rem;
}
.upper-component{
  display:flex;
  flex-direction:row;
  justify-content: center;
  align-items: center;
  margin-left: 3rem;
}

.new_s{
  border:none;
  height:1.5rem;
  min-width:4rem;
  border-radius: 0.1rem;
  color: white;

}
.downloads{
  border:1px solid rgb(67, 120, 218);
  background-color: white;
  border-radius: 4rem;
  width:10rem;
  height:3rem;
  color: rgb(67, 120, 218);
}
.card-content p{
  width:90%;
  height:150px;
}
